   
.search, .search-result {
    width: 500px;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--search-height);
    padding-left: 16px;
    background-color: rgba(22, 24, 35, .06);
    border-radius: 92px;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        padding-right: 40px;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
        caret-color: var(--primary);
        font-family: var(--font-family);
    }

    input:not(:placeholder-shown) ~ .search-btn{
        color: rgba(22, 24, 35, .75);
    }

    &::after {
        content: "";
        position: absolute;
        top: 9px;
        right: var(--search-btn-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-space) * 2);
        background-color: #a7a7ab;
    }

    &:focus-within {
        border-color:rgba(22, 24, 35, .03);
    }
}

.search-title {
    padding: 5px 12px;
    color: rgba(22, 24, 35, .5);
    font-size: 1.4rem;
    font-weight: 600;
}

.clear {
    padding: 4px;
    background-color: transparent;
    cursor: pointer;
    transform: translateY(-50%);
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    color: rgba(22, 24, 35, .34);
}

.loading {
   animation: spinner .8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }

    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--search-btn-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2rem;
    color: #a7a7ab;

    &:hover {
        background-color: rgba(22, 24, 35, .03);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.06);
    }
}