.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-space: 9px;
    --search-btn-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    min-width: 300px;
}

    
.search, .search-result {
    width: 500px;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--search-height);
    padding-left: 16px;
    background-color: rgba(22, 24, 35, .06);
    border-radius: 92px;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn{
        color: rgba(22, 24, 35, .75);
    }

    &::after {
        content: "";
        position: absolute;
        top: 9px;
        right: var(--search-btn-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-space) * 2);
        background-color: #a7a7ab;
    }

    &:focus-within {
        border-color:rgba(22, 24, 35, .03);
    }
}

.search-title {
    padding: 5px 12px;
    color: rgba(22, 24, 35, .5);
    font-size: 1.4rem;
    font-weight: 600;
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, .34);
}

.search-btn {
    width: var(--search-btn-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2rem;
    color: #a7a7ab;

    &:hover {
        background-color: rgba(22, 24, 35, .03);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.06);
    }
}

.actions {
    display: flex;
    align-items: center;
    column-gap: 18px;
}

.action-item {
    font-size: 2rem;
    cursor: pointer;
    height: 32px;
    padding: 3px 3px 0;
    background: none;
}

.more-btn {
    width: 24px;
    height: 20px;
    font-size: 2rem;
    padding: 0 4px;
    background: none;

    &:hover {
        cursor: pointer;
    }
}

.user-avtar {
    width: 32px;
    height: 32px;
    background: center no-repeat;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}